/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom styles
-------------------------------------------------- */
.card-header .btn-link {
    padding: 0;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6c7988;
}
.product {
    display: block;
    text-align: center;
    text-decoration: none !important;
}
.product img {
    margin-bottom: 10px;
}
.product h5, .product h5:hover {
    color: #212529;
    text-decoration: none !important;
}
.review {
    margin-top: 15px;
}
.review .fa-star {
    color: #f5d557;
}
.review p {
    margin: 0;
}
.review .title {
    font-weight: 600;
}
.review .description {
    font-size: 0.85rem;
}