@model IEnumerable<ThAmCo.Customer.Models.ProductDto>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a asp-action="Details" asp-route-id="@item.Id" class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name) <span class="badge badge-pill badge-warning">@Html.DisplayFor(modelItem => item.Currency)@Html.DisplayFor(modelItem => item.Price)</span></h5>
                    <h6 class="card-subtitle text-muted">@Html.DisplayFor(modelItem => item.Description)</h6>
                </div>
            </a>
        </div>
    }
</div>